*
{margin: 0;
padding: 0;
}
.video-background
{
    position: absolute;
    right: 0;
    bottom: 0;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}
@media (min-aspect-ratio:16/9)
{
    .video-background
    {
        height: auto;
        width: 100%;
    }
    
}
@media (max-aspect-ratio:16/9)
{
    .video-background
    {
        height: 100%;
        width: auto;
    }
    
}
header {
    background: rgba(0,0,0,0);
    height: 100vh;
}
.nav {
    background: rgba(0,0,0,0.5);
    height: 80px;
}
.logo{
    margin: 10px 50px;
    height: 60px;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}
ul li{
    display: inline-block;
}
ul li a{
     text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5s ease;
}
ul li a:hover{
    background-color: navy;
    color: white;
}
ul li.active a{
    background-color: lightskyblue;
    color: navy;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title h1{
    color: white;
    font-size: 70px;
}

.btn
{
    font-size: 18px;
    color: whitesmoke;
    letter-spacing: 2px;
    margin: 5px;
    padding: 7px 28px;
    text-decoration: none;
    border: 1px solid snow;
    border-radius: 25px;
}
.btn1:hover
{
    background: coral;
    transition: 0.4s;
    
}
.btn2:hover
{
    background: coral;
    transition: 0.4s;
}

.padding
{
    padding-bottom: 2rem;
    
}
.col-12{
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.col-12 h1{
    color: navy;
    font-size: 40px;
}
h1
{
    text-align: center;
    padding-bottom: 30px;
}

.destinations
{
    margin: 50px 100px
        
}
.destinations img
{
    width: 310px ;
    padding: 15px ;    
    transition: 1s; 
}
.feature-deatils
{
    padding: 20px;
    text-align: justify;
}
.feature-details h4
{
    font-weight: 600;
    margin-top: 20px;
}
.feature-box
{
    box-shadow: 0 0 10px 1px rgba(37,73,214,0.18);
}